[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
pillow = "*"
django-bootstrap4 = "*"
django-bootstrap = "*"
django-bootstrap-form = "*"
django-search-views = "*"

[requires]
python_version = "3.8"
