#img-header{
    text-align: center;
    width: 80%;
    margin: 0 0 0 10%;
    opacity: 50%;
    box-shadow: 0px 10px 5px black;
}

#img-header:hover{
    transition: 2s opacity;
    opacity: 20%;
}

body{
    background: linear-gradient(#6610b0,#661090,#6610b0,#661090);
}

#main{
    margin-top: 5em;
}

#block-img{
    text-align: center;
}

.img-card{
    text-align: center;
    box-shadow: -10px -10px 10px #000000, 10px 10px 10px #000000;
}

.txt{
    box-shadow: -10px -10px 10px #000000, 10px 10px 10px #000000;
}

.name{
    font-size: 35px;
    width: 328px;
    text-align: center;
}

#button{
    margin: 300px 0px;
}

.rounded {
    border-radius: 20px!important;
}

#background-search{
    margin: 0 15%;
}

ul{
    text-align: center;
    font-size: 30px;
}

.atribute li:first-child:before{
    content: "🧠";
}

.atribute li:nth-child(2):before{
    content: "🗡";
}

.atribute li:last-child:before{
    content: "🛡";
}

#botton-below{
    margin: 0 1em;
}