<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AllCards</title>
</head>
<body>
    <ul>
        <button><a href="{% url 'url_createCard' %}">Create new card</a></button>
        <br>
        <hr>
        {% for card in cards %} 
            <h1><a href="{% url 'url_oneCard' card.id %}">{{card.name}}</a></h1>
            <h3>{{card.description}}</h3>
            <li>Level = {{card.level}}</li>
            <li>Attack = {{card.attack}}</li>
            <li>Defense = {{card.defense}}</li>
            <br>
            <hr>
        {% endfor %}
    </ul>
</body>
</html>