{% extends 'base.html' %}
{% load static %}


{% block title %} AllCards {% endblock %}

{% block main %}
<div class="container">
    <div class="p-3 mb-10 bg-dark text-white">

       <div class=" row shadow p-3 mb-5 rounded">

                <div class="col"></div>

                    <div class="row shadow p-3 mb-2 rounded">
                        <div class="col">
                            <button onclick="location.href='{% url 'url_allCards' %}'" class="btn btn-warning">Back to All Cards</button>
                        </div>
                    </div>
                <div class="col"></div>

            <hr>

            {% for card in object_list %}
                <div class=" row">

                    <div class = "col">
                        {% if card.image %}
                            <img src="{% static card.image.url %}" alt="My image" width="250" height="250">
                        {% endif %}
                    </div>

                    <div class = "col">

                        <h1><a href="{% url 'url_oneCard' card.id %}">{{card.name}}</a></h1>
                        <h3 class="description">{{card.description}}</h3>

                    </div>
                    <div class = "col">
                        <br><br><br>
                        <ul>
                            <h4><li class="attribute">Level = {{card.level}}</li></h4>
                            <h4><li class="attribute">Attack = {{card.attack}}</li></h4>
                            <h4><li class="attribute">Defense = {{card.defense}}</li></h4>
                        </ul>

                    </div>
                </div>
                <br>
                <hr>
            {% endfor %}
        </div>
</div>
{% endblock %}