{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Naruto/style.css' %}">
    <title>OneCard</title>
</head>
<body id="background">
    <h1 class="name">{{card.name}}</h1>
    <h3 class="description">{{card.description}}</h3>
    <li class="attribute">Level = {{card.level}}</li>
    <li class="attribute">Attack = {{card.attack}}</li>
    <li class="attribute">Defense = {{card.defense}}</li>
    <br><br><br><br><br>
    
    <center><a href="{% url 'url_allCards' %}">Back to All Cards</a></center>
    <br><br>
    <center><a href="{% url 'url_update' card.id %}"> Update</a></center>
    <br><br>
    <center><a href="{% url 'url_delete' card.id %}">Delete</a></center>
</body>
</html>